{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="archive__item">
  <h2 class="archive__item-title">
    <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
  </h2>

  {% if post.date %}
    <p class="page__meta">
      {{ post.date | date: '%B %d, %Y' }}
    </p>
  {% endif %}

  {% if post.venue %}
    <p>
      {{ post.type }}, {{ post.venue }}, {{ post.location }}
    </p>
  {% endif %}

  {% if post.poster_image %}
    <p>
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.poster_image | relative_url }}" alt="{{ post.title }}" style="width:100%; max-width:650px; border:1px solid #ddd; margin-top:0.5em;">
      </a>
    </p>
  {% endif %}

  {% if post.excerpt %}
    {{ post.excerpt | markdownify }}
  {% endif %}
</div>
